:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}


html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}


body {
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 36vh, left 47vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--dark-cyan);
    
    
}

#container-main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
   
}

#container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21rem;
    background-color: #fff;
    border-radius: 1rem;
    height: 22.5rem;
    
    
    
}

.container-image__top {
    width: 21rem;
    border-radius: 1rem 1rem 0 0;
    height: 9rem;
    box-sizing: border-box;
}

.container-image__picture {
    margin-top: -3.4rem;
    border-radius: 50%;
    border: solid #ffff 5px;
}

/*this is the content of the card*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 1.1rem;
    color: var(--very-dark-desaturated-blue); 
    margin-bottom: 0;
    font-weight: 700;
}

span {
    color: var(--dark-gray);
    font-weight: 400;
    margin-left: 0.5rem;
}

header:nth-child(3) {
    font-size: 0.8rem;
    color: var(--dark-gray);
    
}


.container-footer {
    width: 21rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsla(0, 1%, 77%, 0.452);
    margin-top: 0.7rem;
   
}

.container-views {
    margin-top: 1.6rem;
    text-align: center;
}

.container-views__social {
    margin-top: 0.5rem;
    font-size: 0.6rem;
    color: var(--dark-gray);
    
}


h2 {
    font-size: 1.1rem;
    margin: 0px;
    color: var(--very-dark-desaturated-blue);
}

